* {
  padding: 0;
  margin: 0;
}

.game__container {
  width: 800px;
  height: 300px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

#dino {
  width: 60px;
  height: 60px;
  background-image: url('img/dino.png');
  background-size: 60px 60px;
  position: relative;
  top: 240px;
}

#cactus {
  width: 30px;
  height: 45px;
  background-image: url('img/cactus.png');
  background-size: 30px 45px;
  position: relative;
  top: 195px;
  left: 780px;
  animation: cactusMove 1.75s infinite linear;
}

@keyframes cactusMove {
  0% {
    left: 780px;
  }

  100% {
    left: -20px;
  }
}

.jump {
  animation: jump .7s infinite linear;
}

@keyframes jump {

  0% {
    top: 240px;
  }

  20% {
    top: 210px;
  }

  50% {
    top: 180px;
  }

  80% {
    top: 210px;
  }

  100% {
    top: 240px;
  }
}

.game__restart {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#game__over {
  padding-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#restart__button {
  display: none;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: transform .4s ease;
  color: black;
}

@media(hover:hover) {
  #restart__button:hover {
    transform: scale(1.2);
    transition: transform .4s ease;
  }
}

@media(max-width: 900px) {
  .game__container {
    width: 95%;
  }
}